<% include ./partials/header %>

<h1>Index Page</h1>
<% blocks.forEach(function(block) { %>

    <div class="block center">
        
        <h3><%= block.title %></h3>
        <!--<% block.todos.forEach(function(todo) { %>-->
        <!--    <li><%= todo.body %></li>-->
        <!--<% }); %>-->
        <form>
            <div class="btn-group">
                <button formmethod="GET" formaction="/todo/<%= block._id %>">View</button>
                <button formmethod="POST" formaction="/todo/<%= block._id %>?_method=DELETE" class="btn btn-danger btn-sm">Delete</button>
            </div>
        </form>
    </div>
<% }); %>
<form action="/todo/new" method="GET">
    <button>Add Block</button>
</form>
<% include ./partials/footer %>
