<% include ./partials/header %>
<div>
    <h1><%= block.title %></h1>
    <form action="/todo/<%= block._id %>" method="POST">
        <div>
            <label>Objective</label>
            <input type="text" name="todo[body]">
        </div>
        <div>
            <label>Due Date</label>
            <input class="date" type="text" name="todo[month]" placeholder="month">
            <input class="date" type="text" name="todo[day]" placeholder="day">
            <input class="date" type="text" name="todo[hours]" placeholder="hour">
            <input class="date" type="text" name="todo[minutes]" placeholder="minute">
        </div>
        <div>
            <label>Submit</label>
            <input type="submit">
        </div>
    </form>
</div>
<% include ./partials/footer %>